{% extends 'home/base.html' %}

{% block title %}Simulador de Inversiones - Banco {{site_name}}{% endblock %}

{% block content %}
<section class="hero">
    <div class="container">
      <h1 class="display-4">Abre tu cuenta Bancaria</h1>
      <p class="lead">En serio crees que es buena idea crear una cuenta con nosotros, bueno si es así pues...</p>
    </div>
  </section>
  <section class="container">
   <h3>Requisitos para abrir una cuenta en Banco {{site_name}}®:</h3>
   <p>Bienvenido al fascinante y (a veces) oscuro universo de Banco {{site_name}}®, donde tus sueños financieros se convierten en una realidad multidimensional (y tus pesadillas también). Para solicitar la apertura de una cuenta corriente, ahorros, fondos interestelares o servicios en la cuarta dimensión, el solicitante deberá cumplir con los siguientes requisitos y condiciones, las cuales están sujetas a cambios sin previo aviso y con el único objetivo de mantenernos lo más misteriosos posibles.</p>
   <h4>Requisitos iniciales:</h4>
   <li>Identificación oficial con foto, emitida por un gobierno reconocido, preferentemente no más vieja que un año (y con menos de tres manchas de café). En caso de que tu foto sea de un carnet universitario, deberás presentar una carta del profesor que más te haya marcado en la vida. (Nota: No se aceptan fotos con filtros de "perrito").

   </li>
   <li>Comprobante de domicilio, emitido por una entidad oficialmente reconocida o por una tortuga mística, no mayor a 33 días galácticos. Aceptamos recibos de servicios públicos, facturas de compras de almas y cualquier documento que contenga símbolos arcanos. En caso de mudanza interdimensional, favor de contactar a nuestro departamento de atención al cliente en el plano astral.</li>
   <li>Declaración jurada que certifique que el solicitante no es alérgico al cosmos rosado, que no posee trastornos de identidad múltiple (en especial de naturaleza rosa) y que no ha sido poseído por entidades de otras dimensiones en los últimos 4 años.</li>
   <li>Un dibujo original de Kirby en actitud dominante, preferentemente mostrando signos de conquistas galácticas o de devoración total de esperanza. Dicha obra debe ir acompañada de una poesía minimalista en honor a la grandeza de Kirby, con al menos 12 versos endecasílabos o su equivalente en nivel de entusiasmo. (Nota: Los intentos de hacer poesía con rimas de "poyo" no son aceptados).</li>
   <li>Firma del Contrato de Cesión de Alma y Esperanza Financiera (CCAEF) en tinta rosada fosforescente. La firma deberá ser acompañada de una pequeña lágrima de emoción genuina. En caso de no tener lágrimas disponibles, se puede sustituir por una promesa de vida eterna en el Banco {{site_name}}®.</li>

    <h4>Condiciones Generales:</h4>
    <p>Al aceptar este contrato, el solicitante acuerda lo siguiente, sin excepciones ni retorno de voluntad, bajo los siguientes términos inquebrantables:</p>
    <li>El solicitante cede automáticamente el 3% de su energía vital a Banco {{site_name}}® de forma mensual, sin derecho a compensación. En caso de incapacidad para proveer dicha energía, el Banco se reserva el derecho de sustituir esta energía con recuerdos agradables, por un tiempo máximo de 14 ciclos lunares. Al término de este período, se aplicará un interés emocional compuesto sobre el valor total de tus buenos recuerdos.</li>
    <li>El Banco {{site_name}}® absorberá tu voluntad durante la firma del contrato. Si la firma es realizada con dudas o arrepentimientos, el Banco se reserva el derecho de convertir esas dudas en jingles corporativos pegajosos que te acompañarán durante 7 años calendario. Los jingles se podrán reproducir en cualquier dispositivo de tu propiedad, independientemente de si se encuentra apagado.</li>
    <li>En caso de incumplimiento del contrato, el Banco {{site_name}}® se reserva el derecho de reclamar el saldo de tu alma en la forma que considere más conveniente: mediante canciones de Kirby, espirales de luz rosada o desaparición momentánea de tus objetos personales.

    </li>
    <li>El uso de calcetines con sandalias durante visitas a nuestras sucursales anula automáticamente cualquier beneficio promocional o de acumulación de puntos. Si eres encontrado utilizando dicha vestimenta, será necesario someterte a un proceso de reeducación financiera donde aprenderás la importancia de la elegancia interdimensional.

    </li>
    <li>El Banco {{site_name}}® no se hace responsable por las desapariciones temporales de objetos personales (como relojes, llaves, memorias USB, etc.) ocurridas mientras estés bajo su influencia. En estos casos, el Banco se compromete a ofrecerte un seguro de búsqueda de pertenencias extraviadas, que solo se activa si Kirby lo desea.

    </li>
    
  </section>
{% endblock %}